body{
	background-color: #D7DCE5;
}
#header{
	display: flex;
	background-color: #86A7F4;
	border:solid;
	border-color: white; 
	margin: 0% 10%;
	padding: 0%;
	height: 75px;
	align-items: stretch;
	border-radius: 5px;
}
#contimg{
	border-right:solid;
	border-color: white;
}
#img{
	max-height: 100%;
	max-width: 100%;
	width: 200px;	
}
#conthead{
	margin-left: 15px;
}
#h1head{
	margin-top: 1.5%;
	color: white;
	font-family: Verdana;
	font-size: 45px;
	word-spacing: 15px;
}
#navbar{
	margin: 0% 10%;
	background-color:#43494E ;
}
.navbar-nav> li{
padding-left: 65px;
border-radius: 5px;


}
#navbar a{
	color: #E87205;
	border-radius: 5px;
}
#navbar a:hover{
	background-color: #F5A911;
	color: white;
	border-radius: 5px;
}
	
}
#dropdown{
	padding: 0%;
	border-radius: 5px;
	border-color:  #111;
}
#hello_user{
	
	color: white;
	line-height: 50px;
	height: auto;
	font-size: 15px;	
}
#central{
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: 0% 10% 0% 10%;
	height: 100%;
	align-items: center;
	border-radius: 5px;
}

#contcent{
	margin-top:1%;
	height: 25%;
	width: 90%;
}
#h1{
	height: 10%;
	font-size: 20px;
	font-family: Verdana;
	text-align: center;

}
#panelcent{
	margin-top: 1%;
	height: 70%;
	width: 90%;
	border:solid;
	background-color:#3259C3;
	border-color: #3259C3;
	border-radius: 10px;
}
#panelcentbody{
	height: 100%;
	background-color:#3259C3;
	border-radius: 10px;
}
#panelcentbody:hover{
	 background: #27469B;
}
#col1{
	padding: 5px;
}
#col2{
	padding: 0%;
}
#h2{
	font-size: 18px;
	font-family: Verdana;
	color: white;
}
#ul_you_can{
	text-align: justify;
	display: inline-block;
}
#ul_you_can>li{
	margin-top: 10px;
}
#ul_open{
	text-align: justify;
	display: inline-block;
}
#ul_open>li{
	margin-top: 10px;
}
#h3{
	color: white;
	font-size: 18px;
	font-family: Verdana;
	margin-top: 10%;
}
#mapcont{
	margin-top: 10px;
	height: 70%;
	width: 100%;
	margin-left: 0px;
	
}
#map{
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
}




