body{
	background-color: #D7DCE5;
}
#header{
	display: flex;
	background-color: #86A7F4;
	border:solid;
	border-color: white; 
	margin: 0% 10%;
	height: 100px;
	align-items: stretch;
}
#contimg{
	border-right:solid;
	border-color: white;
}
#img{
	max-height: 100%;
	max-width: 100%;
	width: 250px;	
}
#conthead{
	margin-left: 15px;
}
#h1head{
	margin-top: 40px;
	color: white;
	font-family: Verdana;
	font-size: 45px;
	word-spacing: 15px;
}
#central{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-top:solid;
	border-color: #3259C3;
	margin: 15px 10% 0% 10%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
#panelcent{
	margin-top: 3%;
	height: 90%;
	width: 90%;
	border:solid;
	border-color: #3259C3;
}
#panelcentbody{
	height: 100%;
	background-color:#3259C3;
}
#panelcentbody:hover{
	 background: #27469B;
}
#h1panel{
	color: white;
	font-size: 40px;
	text-align: center;
}
#formlogin{
	
	height: 100%;
	padding: 3%;
	color: white;
	text-align: center;
	font-size: 17.5px;
	font-family: Arial;
	letter-spacing: 1px;
	word-spacing: 2px;
	border-radius: 5px;
}
#formgroups{
	margin-top: 40px;
}
#name{
	height: 40px;
	color: black;
}
#surname{
	height: 40px;
	color: black;
}
#email{
	height: 40px;
	color: black;
}
#phone{
	height: 40px;
	color: black;
}
#username{
	height: 40px;
	color: black;
}
#password{
	height: 40px;
	color: black;
}
#confpassword{
	height: 40px;
	color: black;
}
#icons{
	color: #27469B;
}
#registerbtn{
	width: 100%;
	height: 40px;
	font-size: 17.5px;
	border-color: black; 
}
#loginlink{
	font-size: 15px;
}
#errormissdet{
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 0px;
	color: white;
	border: solid;
	border-radius: 10px;
	border-color: tomato;
	background-color: rgb(242, 106, 99, 0.9);
	font-size: 15px;	
}
